* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
}

.wrapper {
  background: #fff;
  border-bottom-left-radius: 60px;
  margin-bottom: 100px;
}

/** Start: header Section **/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header a {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  text-decoration: none;
}

/** End: header Section **/

/** Start: main Section **/

.main {
  background: url(images/main-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  height: 100vh;
  padding: 0 20px 20px 20px;
}

.main h1 {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.main p,
.about-myself p {        /** main and about section p tag have same style **/
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.main h3,
.about-myself h3 {     /** main and about section h3 tag have same style **/
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-media {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.social-media li {
  list-style-type: none;
}

.social-media a {
  text-decoration: none;
}

/** End: main Section **/

/** Start: Work Section **/

.work-history {
  display: grid;
  padding: 0 20px;
}

.card {
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  margin-bottom: 100px;
}

.card h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
}

.card p {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
}

.card strong {
  color: #344563;
}

.card i {
  color: #c1c7d0;
  margin: 0 4px;
}

.card p.detail {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.card ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.card li {
  list-style-type: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #6070ff;
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

.project-details-btn,
.get-resume-btn {   /** work & about section input type="button" same style **/
  display: flex;
}

.get-resume-btn input,
.project-details-btn input {
  padding: 12px;
  background: #fff;
  border: 2px solid #396df2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  cursor: pointer;
}

.get-resume-btn input:hover,
.project-details-btn input:hover {
  color: #fff;
  background: #396df2;
  transition-duration: 0.4s;
}

.get-resume-btn input:active,
.project-details-btn input:active {
  color: #fff;
  background: #2230d2;
  transition-duration: 0.4s;
}

/** End: Work Section **/

/** Start: About Section **/

.about-myself {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 100px 20px;
  border-top-right-radius: 60px;
}

.about-myself h2 {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.my-skills ul {
  margin: 0;
  padding: 0;
}

.skill-type {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 8px;
}

.language-items li {
  list-style-type: none;
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding-right: 150px;
  margin-bottom: 8px;
  gap: 8px;
}

/** End: About Section **/

/** Start: Contact Form **/

.form-holder {
  background-color: #fff;
}

.form-wrapper {
  background-image: url(images/contact-form-background.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  border-top-left-radius: 60px;
}

.form-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 103px;
  color: #fff;
}

.form-description h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.form-description p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.form-wrapper form {
  margin-top: 52px;
  margin-bottom: 32px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 0;
}

.form-wrapper fieldset > *:not(:last-child) {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
}

fieldset textarea {
  height: 140px;
}

fieldset button {
  font-size: 17px;
  color: #6070ff;
  border: 0;
  background-color: #fff;
  padding: 12px 16px;
  width: 142px;
  border-radius: 8px;
  font-weight: 500;
  line-height: 24px;
}

fieldset button:hover {
  color: #fff;
  background: #396df2;
  transition-duration: 0.4s;
}

fieldset button:active {
  color: #fff;
  background: #2230d2;
  transition-duration: 0.4s;
}

.form-wrapper .finish-line {
  width: 134px;
  height: 5px;
  border-radius: 10px;
  background-color: #0d151e;
  margin-bottom: 8px;
  align-self: center;
}

/** End: Contact Form **/
