* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
}

.wrapper {
  background: #fff;
  border-bottom-left-radius: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header a {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  text-decoration: none;
}

.main {
  background: url(images/main-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  height: 100vh;
  padding: 0 20px 20px 20px;
}

.main h1 {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.main p {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.main h3 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.social-media li {
  list-style-type: none;
}

.social-media a {
  text-decoration: none;
}
